@import url('https://fonts.googleapis.com/css?family=Noto Sans:400,500,600,700,800,900');

* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
  color: #586179;
}

body > div.container-fluid > div:nth-child(6) > div.col-sm-8 > div:nth-child(5) {
  margin-bottom: 0px;
}

.type_1-circle-fill > svg > path {
  color: #0F8554;
}

.type_2-circle-fill > svg > path {
  color: goldenrod;
}

.type_3-circle-fill > svg >path {
  color: #CF597E;
}

.type_three-dots > svg > path {
  color: #999999;
}

.card {
  /*border-top: solid 1.5px lightgrey;
  border-left: solid 1.5px lightgrey;
  border-right: solid 1.5px lightgrey;*/
  height: 150px;
  width: 90%;
  padding: 0 !important;
  background: #FFFFFF !important;
  overflow: hidden;
  display: inline-block;
  /*border-radius: 25px 25px 0px 0px;*/
}

.card-grow {
  transition: all .2s ease-in-out;
}

.card-grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.a-image {
  position: relative
}

.a-span {
  font-size:7px;
  line-height: 7px;
}

.a-image .a-span {
  display: none;
  position: absolute;
  /*bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,.8);*/
}

.a-image:hover .a-span {
  display: block
}

.card-front,
.card-back {
  height: 92.5%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  border: solid 1.5px lightgrey;
  padding: 5px;
}

.card-front {
  overflow: hidden;
  background: #FFFFFF;
    line-height: 100%;
}

.card-back {
  background: #FFFFFF;
    transform: rotateY(180deg);
  padding: 0px;
}

.card-front .plot-container {
  bottom: 0;
  height: 50%;
}

.container .folder .slide {
  width: 100%;
}

.container .folder .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: none;
  transition: none;
}

.container .folder .slide.slide2 {
  overflow: hidden;
  /*border-radius: 0px 0px 25px 25px;
  border-bottom: solid 1.5px lightgrey;
  border-left: solid 1.5px lightgrey;
  border-right: solid 1.5px lightgrey;*/
  padding: 20px;
}

.container .folder .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .folder .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.folder-row .slide.slide2 {
  max-height: 300px;
  opacity: 1;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 15px;
  height: 300px;
}


 /* Dimension icon fun */
 .icon-list {
  display: flex;
  position: relative;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-item {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s, box-shadow 0.5s;
  overflow: hidden;
}

.icon-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: opacity 0.5s;
}

.icon-item::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: opacity 0.5s, filter 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.icon-item:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.icon-item:hover::before {
  opacity: 1;
}

.icon-item:hover::after {
  opacity: 0.5;
}

.icon-img {
  transition: transform 0.5s, opacity 0.5s;
}

.icon-item:hover .icon-img {
  transform: scale(0);
  opacity: 0;
}

.icon-title {
  position: absolute;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: scale(0);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.icon-item:hover .icon-title {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.25s;
}

.dim-icon-hover {
  position: relative
}

.dim-icon-text {
  font-size:12px;
  line-height: 12px;
}

.dim-icon-hover .dim-icon-text {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  border-radius: 25px;
  background: rgba(255,255,255,.5);
}

.dim-icon-hover:hover .dim-icon-text {
  display: block
}

/* Text grow in the indicator name and unit */

.text-grow {
  margin-top:10px;
  margin-bottom:10px;
  cursor: pointer;
}

.text-grow .texter {
  transition: all 500ms;
}

.text-grow .texter:hover {
  font-size:2rem;
  font-size-adjust:0.6;
}
